<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="../static/styled.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../static/images/favicon.png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lobster&family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
      type="text/javascript"
      src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script
      src="https://kit.fontawesome.com/b9dd3be533.js"
      crossorigin="anonymous"
    ></script>
    <title>Airtravel999</title>
    <style>
      .heart-btn:hover {
        color: red;
      }

      .post-desc-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <!-- S: HEADER -->
    <section class="mainpage-header">
      <div class="mainpage-nav">
        <h1 class="mainpage-logo"><a href="#">Airtravel</a></h1>
        <ul class="mainpage-utils">
          {% if userNickName %}
          <li>
            <a type="button" class="btn" href="/mytour">My Tour</a>
          </li>
          {% endif %} {% if userNickName is none %}
          <li><a type="button" class="btn js-login">Login</a></li>
          <li><a type="button" class="btn js-signup">Sign-up</a></li>
          {% endif %} {% if userNickName %}
          <li>
            <a type="button" onclick="userLogout()" class="btn"> Logout </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </section>
    <!-- E: HEADER -->

    <!-- S: VISUAL AREA -->
    <div class="visual-slider">
      <div class="slider-img slider-1"></div>
      <div class="slider-img slider-2"></div>
      <div class="slider-img slider-3"></div>
    </div>
    <!-- E: VISUAL AREA -->

    <!-- S: FILTER -->
    <div class="filters-wrap">
      <select
        class="filter-select"
        id="continent"
        onchange="filterByContinent()"
      >
        <option selected value="Continent">Continent</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="North_America">North America</option>
        <option value="South_America">South America</option>
        <option value="Africa">Afica</option>
        <option value="Australia">Australia</option>
      </select>
    </div>

    <!-- S: CONTENTS -->
    <div class="contents-wrap">
      <div class="posts-wrap" id="posts-box">
        {% for list in lists %} {% set url = 'images/' + list.url %} {% set
        continent = list.continent %}
        <div
          class="post js-postDetail"
          data-continent="{{continent}}"
          onclick="goTour({{list}})"
        >
          <div class="thumbnail">
            <img
              src="{{url_for('static', filename=url)}}"
              alt="{{list.location}}"
            />
          </div>
          <div class="post-desc">
            <div class="post-desc-header">
              <div>
                <span class="">{{list.location}}</span>
                <strong class="post-location">{{list.title}}</strong>
              </div>

              <div>
                {% if list["user_like"] %}
                <span onclick="dislikeCard({{list}})" class="heart-btn">
                  <i style="color: red" class="fas fa-heart"></i>
                </span>
                {% else %}
                <span onclick="likeCard({{list}})" class="heart-btn">
                  <i class="far fa-heart"></i>
                </span>
                {% endif %}
              </div>
            </div>
            <p class="post-detail ellipse">{{list.content}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- E: CONTENTS -->

    <!-- S: FOOTER -->
    <footer class="footer">
      <div class="footer-wrap">
        <p>Copyright 2021. Hanghae99 Team13 All rights reserved.</p>
        <p>Pi Suyeon🌟, Jeon Sanghyuk🧛‍♂️ , Shin Kyungjune🚀, Kim Doeun🌜</p>
      </div>
    </footer>

    <!-- S: SCROLL-TOP -->
    <span class="scrolltop">
      <a href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
    </span>

    <!-- S: 로그인 모달 -->
    <div id="loginModal" class="modal-bg">
      <!-- S: Modal Container -->
      <div class="modal-container">
        <!-- S: Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close">닫기</button>
        </div>

        <!-- S: Modal Body -->
        <div class="modal-body modal-login">
          <!-- S: Modal ID -->
          <div class="form form-id">
            <div>
              <input id="userID" type="text" placeholder="ID" />
            </div>
            <p class="form__alert-msg" id="login-alert-id">
              아이디를 입력해주세요!
            </p>
          </div>

          <!-- S: Modal PW -->
          <div class="form form-pw">
            <div>
              <input id="userPW" type="password" placeholder="PASSWORD" />
            </div>
            <p class="form__alert-msg" id="login-alert-pw">
              비밀번호를 입력해주세요!
            </p>
          </div>
          <p class="form__alert-msg" id="login-alert-check"></p>
        </div>

        <!-- S: Modal Footer -->
        <div class="modal-footer">
          <button onclick="userLogin()" class="btn btn-green formcheck">
            로그인하기
          </button>
          <button class="btn btn-primary formcheck">회원가입</button>
        </div>
      </div>
      <!-- E: Modal Container -->
    </div>
    <!-- E: 로그인 모달 -->

    <!-- S: 회원가입 모달 -->
    <div id="signupModal" class="modal-bg">
      <!-- S: Modal Container -->
      <div class="modal-container">
        <!-- S: Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Sign up</h5>
          <button type="button" class="btn-close">닫기</button>
        </div>

        <!-- S: Modal Body -->
        <div class="modal-body js-formcheck modal-signup">
          <!-- S: Modal ID -->
          <div class="form form-id">
            <div>
              <input
                type="text"
                id="signupID"
                placeholder="ID"
                style="width: 75%"
              />
              <button
                type="button"
                class="btn btn-small btn-light form__idcheck"
                onclick="checkID()"
              >
                ID 체크
              </button>
            </div>
            <p class="form__alert-msg" id="signup-alert-id">
              아이디를 입력해주세요!
            </p>
          </div>

          <div class="form form-pw">
            <div>
              <input type="text" id="signupNICK" placeholder="NICKNAME" />
            </div>
            <p class="form__alert-msg" id="signup-alert-nick">
              닉네임을 입력해주세요!
            </p>
          </div>

          <!-- S: Modal PW -->
          <div class="form form-pw">
            <div>
              <input type="password" id="signupPW" placeholder="PASSWORD" />
            </div>
            <p class="form__alert-msg" id="signup-alert-pw">
              비밀번호를 입력해주세요!
            </p>
          </div>

          <!-- S: Modal PW check -->
          <div class="form form-pwcheck">
            <div>
              <input
                type="password"
                id="signupPWC"
                placeholder="PASSWORD CHECK"
              />
            </div>
            <p class="form__alert-msg" id="signup-alert-pwc">
              비밀번호를 입력해주세요!
            </p>
          </div>
        </div>

        <!-- S: Modal Footer -->
        <div class="modal-footer">
          <div>
            <button onclick="userSignup()" class="btn btn-primary formcheck">
              회원가입
            </button>
          </div>
        </div>
      </div>
      <!-- E: Modal Container -->
    </div>

    <!-- E: 게시물 보기 모달 -->
    <div id="postDetail" class="modal-bg"></div>
    <!-- E: 회원가입 모달 -->
    <script src="../static/js/front_ui.js"></script>
    <script type="text/javascript">
      $(".visual-slider").slick();

      // 좋아요
      function likeCard(list) {
        $.ajax({
          type: "POST",
          url: `/like/${list["_id"]}`,
          success: function (response) {
            if (response["result"] === "success") {
              window.location.reload();
            }
          },
        });
      }

      // 좋아요 취소
      function dislikeCard(list) {
        $.ajax({
          type: "DELETE",
          url: `/like/${list["_id"]}`,
          success: function (response) {
            if (response["result"] === "success") {
              window.location.reload();
            }
          },
        });
      }

      // 게시물 수정하기
      function editTour(list) {
        const tour_title = list.title;
        const tour_content = list.content;

        $.ajax({
          type: "PUT",
          url: `/tour/${list["_id"]}`,
          data: {
            tour_title,
            tour_content,
          },
          success: function (response) {
            if (response["result"] === "success") {
              window.location.reload();
            } else {
              alert(response["msg"]);
            }
          },
        });
      }

      // 로그인하기 로직
      function userLogin() {
        const userID = $("#userID").val();
        const userPW = $("#userPW").val();

        $.ajax({
          type: "POST",
          url: "/auth/login",
          data: {
            user_id: userID,
            user_pw: userPW,
          },
          success: function (response) {
            if (response["result"] === "success") {
              $.cookie("mytoken", response["token"], { path: "/" });
              window.location.replace("/");
            } else if (response["result"] === "fail check") {
              const alert = document.querySelector("#login-alert-check");
              alert.style.display = "block";
              alert.textContent = response["msg"];
            } else if (response["result"] === "fail id") {
              const alert = document.querySelector("#login-alert-id");
              alert.style.display = "block";
              alert.textContent = response["msg"];
            } else if (response["result"] === "fail pw") {
              const alert = document.querySelector("#login-alert-pw");
              alert.style.display = "block";
              alert.textContent = response["msg"];
            }
          },
        });
      }

      // 로그아웃하기 로직
      function userLogout() {
        $.removeCookie("mytoken");
        window.location.replace("/");
      }

      // 회원가입 로직
      function userSignup() {
        const user_id = $("#signupID").val();
        const user_nick = $("#signupNICK").val();
        const user_pw = $("#signupPW").val();
        const user_pwc = $("#signupPWC").val();

        $.ajax({
          type: "POST",
          url: "/auth/signup",
          data: {
            user_id,
            user_nick,
            user_pw,
            user_pwc,
          },
          success: function (response) {
            if (response["result"] === "success") {
              window.location.reload();
            } else if (response["result"] === "fail id") {
              const alert_id = document.querySelector("#signup-alert-id");
              alert_id.style.display = "block";
              alert_id.textContent = response["msg"];
            } else if (response["result"] === "fail pw") {
              const alert_pwc = document.querySelector("#signup-alert-pwc");
              alert_pwc.style.display = "block";
              alert_pwc.textContent = response["msg"];
            }
          },
        });
      }

      // 회원가입 아이디 중복 체크
      function checkID() {
        const user_id = $("#signupID").val();

        $.ajax({
          type: "POST",
          url: "/auth/checkid",
          data: {
            user_id,
          },
          success: function (response) {
            const alert_id = document.querySelector("#signup-alert-id");
            if (response["result"] === "success") {
              alert_id.style.display = "block";
              alert_id.style.color = "blue";
              alert_id.textContent = response["msg"];
            } else if (response["result"] === "fail") {
              alert_id.style.display = "block";
              alert_id.style.color = "#dc3545";
              alert_id.textContent = response["msg"];
            }
          },
        });
      }

      // Continent 필터 로직
      function filterByContinent() {
        const continent = $("#continent option:selected").val();

        let cards = $(".post");

        if (continent == "all") $(".post").show();
        else {
          $(".post").show();
          for (let card of cards) {
            console.log(card.getAttribute("data-continent"));
            if (card.getAttribute("data-continent") != continent) {
              card.style.display = "none";
            }
          }
        }
      }

      // 게시물 보기
      function goTour(list) {
        $("#postDetail").empty();
        console.log(list);

        const temp = `
        <div class="modal-container">
        <div class="modal-header">
          <h5 class="modal-title ellipse ellipse-1">${list.title}</h5>
          <button type="button" class="btn-close">닫기</button>
        </div>
        <div class="modal-body modal-postDetail" style="padding-bottom: 30px">
          <div class="thumbnail-area">
            <img src="../static/images/${list.url}" />
          </div>
          <div class="labels-wrap">
            <h6 class="label-location">
              <strong>${list.location}</strong>
            </h6>
            <div class="label-author">${list.nick}</div>
            <div class="label-continent">${list.continent}</div>
            <div class="label-date">${list.date}</div>
            <div class="label-like">
              <a href="#">
                <span class="total-like">${list.like}</span>
                <!— far: 빈 하트. fas: 꽉찬 하트—>
                <i class="far fa-heart"></i>
              </a>
            </div>
          </div>
          <div class="content-wrap scroll-style">
            <p class="post-content">${list.content}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-light">수정</button>
          <button class="btn btn-primary js-close">닫기</button>
        </div>
      </div>
        `;
        $("#postDetail").append(temp);
      }
    </script>
  </body>
</html>
